{% extends 'base.html' %} {% block content %}
<h1 id="login">Welcome To Login </h1>
<div class="login">
    <form class="site-form" method="post">
        {% csrf_token %}
        <table border="1">
            {{form.as_table}}
        </table>
        <!-- we are chacking if 'next' querystring exist in the get request,output that parameter in hidden field-->
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{request.GET.next}}"> {% endif %}
        <input type="submit" value="LogIn">
    </form>
</div>
{% endblock %}